# Dependencias
node_modules/

# Archivos compilados
dist/
build/

# Variables de entorno (por si las usamos en el futuro)
.env
.env.local

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# Logs
npm-debug.log*